@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f5f1;
  --foreground: #1c1914;
  --earth-50: #f6f5f1;
  --earth-100: #e3e0d7;
  --earth-200: #cdc7b9;
  --earth-300: #b3aa96;
  --earth-400: #9c9077;
  --earth-500: #867a61;
  --earth-600: #6b614c;
  --earth-700: #504939;
  --earth-800: #363127;
  --earth-900: #1c1914;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1914;
    --foreground: #f6f5f1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Palatino, serif;
}
